@import url("https://fonts.googleapis.googleapis.com/css?family=Poppoins:200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppoins", sans-serif;
}

body {
  background: #000;
  min-height: 100vh;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px 100px;
  z-index: 100000;
}

header.sticky {
  padding: 5px 100px;
  background-color: #fff;
}
header .logo {
  position: relative;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
  border: 2px solid #fff;
  padding: 5px 15px;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  position: relative;
  list-style: none;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  transition-duration: 0.5s;
}

header ul li:hover {
  transform: scale(1.1);
  color: #f18930;
}
header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.5s;
}

.banner {
  position: relative;
  width: 600;
  height: 170vh;
  background: url(dekk.jpeg);
  background-size: cover;
  overflow: hidden;
}

header.sticky .logo,
header.sticky ul li a {
  color: #000;
}
header.sticky .logo {
  border: 2px solid #000;
  padding: 5px 15px;
}
header.sticky ul li a::after {
  content: "";
  height: 1.5px;
  width: 0;
  background: #f18930;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 100%;
  bottom: -10px;
  margin-top: 5px;
  transition-duration: 0.5s;
}
header.sticky ul li a:hover::after {
  width: 100%;
}

/* Image Buttons: */
.image-buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}
.button-wrapper {
  margin: 30px;
}
.button {
  width: 300px;
  height: 450px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.button:nth-child(1) {
  position: absolute;
  transform: translate(-78%, -145%) scale(1) translateX(-200px);
  height: 400px;
  width: 600px;
  margin-top: 400px;
  transition: transform 0.3s ease-in-out;
}
.button:nth-child(1):hover {
  transform: translate(-78%, -145%) scale(1.1) translateX(-200px);
}

.button:nth-child(2) {
  position: absolute;
  transform: translate(35%, -145%) scale(1) translateX(-200px);
  height: 400px;
  width: 600px;
  margin-top: 400px;
  transition: transform 0.3s ease-in-out;
}
.button:nth-child(2):hover {
  transform: translate(35%, -145%) scale(1.1) translateX(-200px);
}

.button:nth-child(3) {
  position: absolute;
  transform: translate(-145%, -30%) scale(1) translateX(200px);
  height: 400px;
  width: 600px;
  margin-top: 400px;
  transition: transform 0.3s ease-in-out;
}
.button:nth-child(3):hover {
  transform: translate(-145%, -30%) scale(1.1) translateX(200px);
}

.button:nth-child(4) {
  position: absolute;
  transform: translate(35%, -30%) scale(1) translateX(-200px);
  height: 400px;
  width: 600px;
  margin-top: 400px;
  transition: transform 0.3s ease-in-out;
}
.button:nth-child(4):hover {
  transform: translate(35%, -30%) scale(1.1) translateX(-200px);
}
.button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.button-content p {
  font-size: 25px;
  margin: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
  position: relative;
  display: inline-block;
  border-radius: 5px;
}

.button-content p::before,
.button-content p::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  background: #f18930;
  transition: width 0.3s ease;
}

.button-content p::before {
  left: 0;
  bottom: 0;
}
.button-content p::after {
  right: 0;
  bottom: 0;
}
.button-content p:hover::before,
.button-content p:hover::after {
  width: 50%;
}

.button:hover .button-content p {
  background-color: rgba(0, 0, 0, 0.9);
}

/* Footer:*/
footer {
  background: #f9f7f7;
  padding-top: 50px;
  margin-top: 0;
}
.container {
  width: 1140px;
  margin: auto;
  display: flex;
  justify-content: center;
}
.footer-content {
  width: 33.3%;
}
h3 {
  font-size: 28px;
  margin-bottom: 15px;
  text-align: center;
}
.footer-content p {
  width: 190px;
  margin: auto;
  padding: 7px;
}
.footer-content ul {
  text-align: center;
}
.footer-content ul li a {
  color: #000;
}
.list {
  padding: 0;
}
.list li {
  width: auto;
  text-align: center;
  list-style-type: none;
  padding: 7px;
  position: relative;
}
.list li::before {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 100%;
  width: 0;
  height: 2px;
  background: #f18930;
  transition-duration: 0.5s;
}
.list li:hover::before {
  width: 70px;
}
.social-icons {
  text-align: center;
  padding: 0;
}
.social-icons li {
  display: inline-block;
  text-align: center;
  padding: 5px;
}
.social-icons i {
  color: #000;
  font-size: 25px;
}
a {
  text-decoration: none;
}
a:hover {
  color: #f18930;
}
.social-icons i:hover {
  color: #f18930;
}
.bottom-bar {
  background: #f18930;
  text-align: center;
  padding: 10px 0;
  margin-top: 50px;
}
.bottom-bar p {
  color: #343434;
  margin: 0;
  font-size: 16px;
  padding: 7px;
}
